/*.page-header {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 800px;
  margin: 0 auto 2rem auto;
}*/

.project-name {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
}

.project-name .subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  margin-top: 0.3rem;
}

.project-tagline {
  font-size: 1.2rem;
  font-weight: 500;
}

.value-prop {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.about-me-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.about-me-container img {
  max-width: 150px !important;
  width: 100% !important;
  height: auto !important;
  border-radius: 8px;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-me-container img {
    margin-bottom: 20px;
  }

  .about-me-container div {
    text-align: left;
  }
}
