/*.page-header {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 800px;
  margin: 0 auto 2rem auto;
}*/

.project-name {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.project-tagline {
  font-size: 1.2rem;
  font-weight: 500;
}

.value-prop {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
